\documentclass{resume} % Use the custom resume.cls style
\usepackage[T1]{fontenc}
\usepackage{palatino}

\usepackage[left=0.4 in,top=0.4in,right=0.4 in,bottom=0.4in]{geometry} % Document margins
\newcommand{\tab}[1]{\hspace{.2667\textwidth}\rlap{#1}}
\newcommand{\itab}[1]{\hspace{0em}\rlap{#1}}
\name{ {{.basics.name}} } % Your name
\address{ {{.basics.phone}} \\ {{.basics.location}} }
\address{\href{ mailto:{{.basics.email}} }{ {{.basics.email}} }\\ 
{{- range $i, $link := .basics.links -}}
    {{ if $i }} \\ {{ end }}
    \href{ {{$link.url}} }{ {{$link.url}} }
{{- end -}}
}

\begin{document}

%----------------------------------------------------------------------------------------
% SUMMARY
%----------------------------------------------------------------------------------------
\begin{rSection}{SUMMARY}

{{ .basics.description }}

\end{rSection}

%----------------------------------------------------------------------------------------
% SKILLS
%----------------------------------------------------------------------------------------
\begin{rSection}{SKILLS}

\begin{tabular}{ @{} >{\bfseries}l @{\hspace{6ex}} p{0.75\linewidth} }
{{ range .skills }}
    {{ .group }} & {{ join .items ", " }} \\
{{ end }}
\end{tabular}

\end{rSection}

%----------------------------------------------------------------------------------------
% EXPERIENCE
%----------------------------------------------------------------------------------------
\begin{rSection}{EXPERIENCE}

{{ range $i, $exp := .experience }}
{{ if $i }} 
    \vspace{0.2cm}
{{ end}}

\textbf{ {{- $exp.role -}} } \hfill {{$exp.start}} -- {{$exp.end}} \\
{{$exp.company}} \hfill \textit{ {{$exp.location.city}}, {{$exp.location.state}} -- {{$exp.location.country}}} \\

{{$exp.summary}}

\begin{itemize}
    \itemsep -3pt
    {{ range $exp.highlights }}
        \item {{ . }}
    {{ end }}
    {{ if (has $exp "technologies") }}
        \item \textbf{Technologies:} {{ join $exp.technologies ", " }}
    {{ end }}
\end{itemize}

{{ end }}

\end{rSection}

%----------------------------------------------------------------------------------------
% CERTIFICATIONS
%----------------------------------------------------------------------------------------
{{ with .certifications }}
\begin{rSection}{CERTIFICATIONS}

{{ range $i, $cert := .}}
{{ if $i }} 
    \vspace{0.1cm}
{{ end }}

\textbf{ {{- $cert.name -}} } \hfill {{ $cert.period.start }} -- {{ $cert.period.end }} \\
\href{ {{ $cert.link }} }{Credential Link}

{{ $cert.description }}
{{ end }}

\end{rSection}
{{ end }}

%----------------------------------------------------------------------------------------
% EDUCATION
%----------------------------------------------------------------------------------------
{{ with .education }}
\begin{rSection}{EDUCATION}

{{ range $i, $edu := .}}
{{ if $i }} 
    \vspace{0.1cm}
{{ end }}

\textbf{ {{- $edu.title -}} } \hfill {{ $edu.period.start }} -- {{ $edu.period.end }} \\
{{- $edu.institution -}} \\
{{ if (has $edu "gpa") }}
    {{- $edu.gpa -}} \\
{{ end }}

{{ if (has $edu "description") }}
    {{- $edu.description -}} \\
{{ end }}

{{ end }}

\end{rSection}
{{end}}

%----------------------------------------------------------------------------------------
% PERSONAL PROJECTS
%----------------------------------------------------------------------------------------
{{ with .personalProjects }}
\begin{rSection}{PERSONAL PROJECTS}

\begin{itemize}
    {{ range . }}
    \item {{ .description -}}
    {{- if (has . "link") -}}
        \href{ {{ .link.source }} }{[{{ .link.label }}]}
    {{- end -}}
    {{ end}}
\end{itemize}

\end{rSection}
{{ end }}

\end{document}
