<div class="l-container">
  <div class="c-cta {{ delimit (.Params.classes | default (slice)) " " }}">
    <div class="c-cta__content">
        {{ .Content }}
    </div>
    <div class="c-cta__actions">
        <a class="c-button c-button--primary c-button--lg" href="{{ .Params.primary_url | default "#contact" }}"
          data-analytics-event="cta_click"
          data-analytics-name="{{ .Params.primary }}"
          data-analytics-location="cta_section"
          data-analytics-section-id="{{ .Params.nav.id | default .File.ContentBaseName }}"
          data-analytics-landing-page="{{ .Params.landingPage }}">{{ .Params.primary }}</a>
        {{ with .Params.secondary }}
        <a class="c-button c-button--lg" href="{{ $.Params.secondary_url | default "#experience" }}"
          data-analytics-event="cta_click"
          data-analytics-name="{{ . }}"
          data-analytics-location="cta_section"
          data-analytics-section-id="{{ $.Params.nav.id | default $.File.ContentBaseName }}"
          data-analytics-landing-page="{{ $.Params.landingPage }}">{{ . }}</a>
        {{ end }}
    </div>
  </div>
</div>
