<div class="l-container">
  <div class="c-cta {{ delimit (.Params.classes | default (slice)) " " }}">
    <div class="c-cta__content">
        {{ .Content }}
    </div>
    <div class="c-cta__actions">
        <a class="c-button c-button--primary c-button--lg" href="{{ .Params.primary_url | default "#contact" }}">{{ .Params.primary }}</a>
        {{ with .Params.secondary }}
        <a class="c-button c-button--lg" href="{{ $.Params.secondary_url | default "#experience" }}">{{ . }}</a>
        {{ end }}
    </div>
  </div>
</div>
