<div class="l-container l-section">
    {{ partial "sections/header.html" . }}

    <div class="l-section-body c-engagement {{ delimit (.Params.classes | default (slice)) " " }}">
        {{ range .Params.items }}
        <div class="c-engagement__item c-card {{ delimit (.classes | default (slice)) " " }}">
            <div class="c-card__title">
            {{ if .icon }}
                {{ partial "icon.html" .icon }}
            {{ end }}
            </div>

            <div class="c-card__body">
            {{ .content | markdownify }}
            
            {{ if .steps }}
            <div class="c-engagement-stepper">
                {{ range $i, $step := .steps }}
                <div class="c-engagement-stepper__step">
                    <span class="c-engagement-stepper__step--number">{{ add $i 1 }}</span>
                    <span class="c-engagement-stepper__step--name">{{ $step.name }}</span>
                    <span class="c-engagement-stepper__step--description">{{ $step.description }}</span>
                </div>
                {{ end }}
            </div>
            {{ end }}
            </div>
        </div>
        {{ end }}
    </div>

</div>
