<div class="l-container l-section">
    {{ partial "sections/header.html" . }}
    
    <div class="l-section-body l-grid {{ delimit (.Params.classes | default (slice)) " " }}">
        {{ range .Params.items }}
        <div class="{{ if $.Params.withCards }}c-card{{end}} {{ if $.Params.onSide }}l-flex l-flex--row {{end}}" >
            {{ if or .icon .title }}
            <div class="c-card__title l-flex l-flex-row">
                {{ if .icon }}
                    {{ partial "icon.html" .icon }}
                {{ end }}
                {{ with .title }}
                <span>{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
            
            <div class="c-card__body">{{ .content | markdownify }}</div>
        </div>
        {{ end }}
    </div>
</div>
