<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}

  </head>
  {{ $hasHero := false }}
  {{ $sections := where site.RegularPages "Section" "landing-sections" }}
  {{ $sections = where $sections "Params.landingPage" .Params.landingSections }}
  {{ range $sections }}
    {{ if eq .Params.type "hero" }}
      {{ $hasHero = true }}
    {{ end }}
  {{ end }}
  
  <body{{ if $hasHero }} class="has-hero"{{ end }}>
    {{ partial "navbar.html" . }} 
    {{ block "main" . }} {{ end }} 
    
    {{ partial "footer.html" . }}
  </body>
</html>
