.c-impact h3 {
    font-size: var(--text-lg);
}

.c-impact {
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: var(--space-6);
}

@media (max-width: 950px) {
    .c-impact {
        border-left: none;
        padding-left: 0;
    }
}