<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ site.Title }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{{ with .Params.description }}<meta name="description" content="{{ . }}">{{ end }}

{{ $ogImage := "/images/logo.jpg" | absURL }}

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:image" content="{{ $ogImage }}">
<meta property="og:image:width" content="1418">
<meta property="og:image:height" content="493">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NRRBZJQ3');</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z521FBBG2C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z521FBBG2C');
</script>

<script>
  var ahrefs_analytics_script = document.createElement('script');
  ahrefs_analytics_script.async = true;
  ahrefs_analytics_script.src = 'https://analytics.ahrefs.com/analytics.js';
  ahrefs_analytics_script.setAttribute('data-key', 'lwTw1jz9N2eRI1zLX0IoQQ');
  document.getElementsByTagName('head')[0].appendChild(ahrefs_analytics_script);
</script>

<!-- Custom script for simple UX -->
{{ $js := resources.Get "scripts/main.js" }}
<script src="{{ $js.RelPermalink }}"></script>


{{ $styles := slice }}
{{ $styles = $styles | append (resources.Match "css/tokens.css") }}
{{ $styles = $styles | append (resources.Match "css/base.css") }}
{{ $styles = $styles | append (resources.Match "css/layout.css") }}
{{ $styles = $styles | append (resources.Match "css/utilities.css") }}
{{ $styles = $styles | append (resources.Match "css/components/*.css") }}

{{ $css := $styles | resources.Concat "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
    
<!-- Font Awesome for social media icons-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{{ range .Site.Params.Fonts }}
    <link href="https://fonts.googleapis.com/css2?family={{ .name | safeHTML }}:wght@400;700&display=swap" rel="stylesheet">
{{ end }}
