{{ if . }}
{{ $styles := ""}}
{{ if .color }}
    {{ $styles = printf "background-color: %s;" .color }}
{{ end }}

<div 
    class="c-icon {{ if .fill }} c-icon--fill {{ end }} c-icon--{{.size | default "md" }} {{ if .transparent }} c-icon--transparent {{ end }}"
    {{ if $styles }} style="{{ $styles | safeCSS }}" {{ end }}
>
    {{ with .name }}
        {{ $imgfile := printf "/icons/%s.svg" . }}
        {{ $img := resources.Get $imgfile }}
        {{ $img.Content | safeHTML }}
    {{ end }}
    {{ with .fa }}
        <i class="{{ . }}"></i>
    {{ end }}
</div>
{{ end }}